.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

.word-item {
    cursor: pointer;
}

.syllable-item {
    cursor: pointer;
}

.letter-item {
    cursor: pointer;
}

.quiz-header h4 {
    display: inline;
    text-decoration: underline;
}

.quiz-item {
    cursor: pointer;
}

.quiz-item h4 {
    display: inline;
}
.answersheet-item {
    cursor: pointer;
}

.large-gliphicon {
    font-size: 200%;
}