.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

.word-item {
    cursor: pointer;
}
.word-item img {
    height: 200px;
}
.syllable-item {
    cursor: pointer;
}

.letter-item {
    cursor: pointer;
}

.quiz-header h4 {
    display: inline;
    text-decoration: underline;
}

.quiz-item {
    cursor: pointer;
}

.quiz-item h4 {
    display: inline;
}
.answer-item {
    cursor: pointer;
}

.pupil-item {
    cursor: pointer;
}
.pupilquiz-item {
    cursor: pointer;
}
.pupilquiz-item img {
    height: 150px;
}
.large-gliphicon {
    font-size: 200%;
}

.user-item {
    cursor: pointer;
}