
<div class="container">
    
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-pencil large-gliphicon"></span>
            <span class="glyphicon glyphicon-picture large-gliphicon"></span>
        </h1>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-repeat="word in wordArr" >
        <div class="well word-item" ng-hide="notImagedWord($index)" ng-click="$scope.verifiedWord = verifyWord($index, wordSymbol)">
            <img ng-src="{{word.imageUrl}}" class="img-responsive" alt="">
            <input type="text" ng-hide="$scope.verifiedWord" size="12" ng-model="wordSymbol">
            <h2 ng-show="$scope.verifiedWord">{{word.symbol}}</h2>
        </div>
    </div>

</div>
