
<div class="container">
    
    <div class="page-header">
      <h1>Training Answersheets</h1>
    </div>

    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="answersheet in answersheetArr" >
        
        <div class="well answersheet-item" ng-click="openDetails($index)">
            
<!--            <img ng-src="{{word.imageUrl}}" class="img-responsive" alt="Image">   -->
            <h2>{{answersheet.userId}}</h2>
            <p>{{answersheet.quizId}}</p>
            <p>{{answersheet.ordinal}}</p>
            <p>{{answersheet.score}}</p>
<!--             <button ng-click="playWord(word.soundUrl)">Play Word</button>   -->

        </div>
        
    </div>
    
    
</div>
